<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
   </head>
   <body>
      <h1>Welcome to My Portfolio</h1>
      <p>Quoc Nguyen is a Vietnamese software engineer and businessman. 
         He was born and raised in Vietnam. He was educated in the U.S 
         for the major of Computer Science. He realizes Vietnam is a 
         developing country with a lack of high technology. Workstyles 
         in many firms and government agencies have been outdated. 
         Their employees are using too much paper to keep record. 
         Their work is chaotic and tangled. I believe their work 
         can be more organized and manageable with the implementation 
         of technology. Vietnam is converting into digital system. 
         With an increasing need of IT, he takes a leap of faith 
         to quit his 9-5 job in America and return to his homeland. 
         He is passionate to contribute his talent to build computer system. 
         Because of poor quality of life and work in Vietnam, he is inspired 
         to utilize software in a daily basis to improve productivity and 
         human life quality. Aside from his work, his hobbies include playing 
         piano, reading, travelling, and helping others overcome their life 
         difficulty. Observing many Vietnamese in rural area to survive in 
         extreme poor life quality, he feels great compassion and strong desire 
         to revamp their way of life. <br/><br/>
         <img src="image/peter20.jpg" alt="Quoc Nguyen" style="width:300px;height:400px;">
         <img src="image/peter2.jpg" alt="Quoc Nguyen" style="width:300px;height:400px;">
      </p>
   </body>
</html>